html {
  height: 100%;
}
body {
  background: #181818;
  color: #F0F3F4;
  font: normal 16px/1.25 'Open Sans';
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  height: 100%;
}
.gallery {
  list-style-type: none;
  height: 100%;
  overflow: hidden;
}
.gallery li {
  float: left;
  height: 100%;
  width: 25%;
  background: #2E4053;
}

.gallery .flip {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}

.gallery li:hover .front-side {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.gallery li:hover .back-side {
  background: #000;
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.gallery .front-side,
.gallery .back-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility:  hidden;
  -moz-backface-visibility:  hidden;
  backface-visibility:  hidden;

  -webkit-transition: transform 0.4s ease-out, opacity 0.3s ease-out;
  -moz-transition: transform 0.4s ease-out, opacity 0.3s ease-out;
  transition: transform 0.4s ease-out, opacity 0.3s ease-out;
}
.gallery .front-side {
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.gallery .front-side h3 {
  font-size: 28px;
  text-shadow: 0 0 10px #1b1a1a;
  text-align: center;
}

.gallery .back-side {
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.gallery .back-side > a {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery li:nth-child(1) .front-side {
  background-image:url('../images/winterfell-front.jpg');
}

.gallery li:nth-child(1) .back-side {
  background-image:url('../images/winterfell-back.jpg');
  background-size:100% 100%;
  opacity: 0.8;
}

.gallery li:nth-child(2) .front-side {
  background-image: url('../images/ilhas-ferro-front.jpg');
}

.gallery li:nth-child(2) .back-side {
  background-image:url('../images/ilhas-ferro-back.jpg');
  background-size:100% 100%;
  opacity: 0.8;
}

.gallery li:nth-child(3) .front-side {
  background-image: url('../images/dragonstone-front.jpg');
}

.gallery li:nth-child(3) .back-side {
  background-image:url('../images/dragonstone-back.jpg');
  background-size:100% 100%;
  opacity: 0.8;
}


.gallery li:nth-child(4) .front-side {
  background-image: url('../images/casterly-rock-front.jpg');
}

.gallery li:nth-child(4) .back-side {
  background-image:url('../images/casterly-rock-back.jpg');
  background-size:100% 100%;
  opacity: 0.8;
}

.gallery .content {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 25px 20px;
}

.gallery li:hover .text {
  opacity: 1;
  visibility: visible;
  max-height: 2000px;
  -webkit-transition: opacity .3s ease-in 1.5s, max-height .1s ease 1.5s;
  -moz-transition: opacity .3s ease-in 1.5s, max-height .1s ease 1.5s;
  transition: opacity .3s ease-in 1.5s, max-height .1s ease 1.5s;
}

.gallery li:hover .loader {
  opacity: 1;
  visibility: visible;
  -webkit-animation: hide .1s ease-in-out 1.4s forwards, load .75s infinite;
  -moz-animation: hide .1s ease-in-out 1.4s forwards, load .75s infinite;
  animation: hide .1s ease-in-out 1.4s forwards, load .75s infinite;
}

.gallery .text {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}

.gallery .content h3 {
  position: relative;
  color: #ffffff;
  font: normal 30px/1.25 'Open Sans';
  margin-bottom: 25px;
  text-shadow: 0 0 1px #1b1a1a;
}

.gallery .content h3:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -10px;
  left: 50%;
  margin-left: -25px;
  background: #ffffff;
  text-shadow: 0 0 10px #1b1a1a;
}

.gallery .content p {
  margin: 10px 0;
  color: #ffffff;
  font: normal 17px/1.25 'Open Sans';
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 5px #1b1a1a;
}

.gallery .loader {
  opacity: 0;
  visibility: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #000000;
  border-left-color: #000000;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes load {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes hide {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-moz-keyframes hide {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes hide {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

